.crossword-container {
  margin: 2em;
  gap: 2em;
}

.crossword-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.guess-text-correct > rect {
  stroke: rgb(100, 200, 100) !important;
}

.guess-text-correct > svg > rect {
  fill: rgb(100, 200, 100) !important;
}

.current-clue {
  text-align: center;
}

/*.clue.correct {*/
/*  text-decoration: line-through;*/
/*  color: rgb(130, 130, 130);*/
/*}*/

/*.clue.correct::before {*/
/*  content: '✓'; !* a.k.a. checkmark: ✓ *!*/
/*  display: inline-block;*/
/*  text-decoration: none;*/
/*  color: rgb(100, 200, 100);*/
/*  margin-right: 0.25em;*/
/*}*/

.grid-container {
  flex: 1 100%;
}
.direction {
  width: 50%;
}

.mobile-footer {
  display: none;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crossword-selector {
  min-width: 200px;
}

.right-nav-bar {
  display: flex;
  align-items: center;
  gap: 15px;
}

.timer {
  height: 100%;
  font-size: 22px;
  padding-bottom: 4px;
}

.app-header {
  background-color: #282c34 !important;
  font-size: calc(8px + 2vmin);
  color: white;
}

@media only screen and (max-width: 600px) {
  .crossword-container {
    margin: 0px;
    margin-bottom: 12px;
  }

  .timer {
    padding-bottom: 3px;
  }

  .toolbar {
    min-height: auto !important;
  }


  .crossword-wrapper {
    flex-direction: column;
  }

  .grid-container {
    flex: 1 100%;
  }
  .direction {
    width: 100%;
    display: none;
  }

  .mobile-footer {
    width: 100%;
    position:fixed;
    left:0px;
    bottom:0px;
    height: auto;
    margin: auto;
    overflow: hidden;
    background:#2E2E2E;
    text-align: center;
    color: #ffffff;
    display: inherit;
  }

  .mobile-clue {
    margin: 8px;
  }

  .current-clue {
    visibility: hidden;
  }
}
